version: "3"

services:
  plex:
    image: lscr.io/linuxserver/plex
    container_name: plex
    restart: unless-stopped
    network_mode: host
    # networks:
    #   - proxy
    # ports:
    #   - 32400:32400
    volumes:
      - ${HOME}/Media/config/plex:/config
      - ${HOME}/Media/anime:/anime
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
      # - PLEX_CLAIM= #optional

# networks:
#   proxy:
#     external: true
