version: "3"

volumes:
  db_volume:
    external: true
    name: nextcloud_db

services:
  db:
    image: mariadb
    container_name: nextcloud_db
    restart: always
    networks:
      - proxy
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    volumes:
      - db_volume:/var/lib/mysql
    # env_file:
    #   - db.env
    environment:
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}

  # redis:
  #   image: redis:alpine
  #   container_name: nextcloud_redis
  #   restart: always

  # cron:
  #   image: nextcloud:apache
  #   container_name: nextcloud_cron
  #   restart: always
  #   volumes:
  #     - nextcloud:/var/www/html
  #   entrypoint: /cron.sh
  #   depends_on:
  #     - db
  #     - redis

  app:
    image: nextcloud
    container_name: nextcloud
    restart: always
    networks:
      - proxy
    ports:
      - 10080:80
    depends_on:
      - db
      # - redis
    volumes:
      - ${HOME}/Data/nextcloud:/var/www/html
      - ${HOME}/dev/focus/nextcloud/apache2/000-default.conf:/etc/apache2/sites-available/000-default.conf
    environment:
      - VIRTUAL_HOST=${CLOUD_DOMAIN}
      - NEXTCLOUD_HOSTNAME=${CLOUD_DOMAIN}
      - OVERWRITEHOST=${CLOUD_DOMAIN}
      - OVERWRITEPROTOCOL=https
      - TRUSTED_PROXIES=traefik
      # - REDIS_HOST=nextcloud_redis
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.nextcloud.entrypoints=http"
      - "traefik.http.routers.nextcloud.rule=Host(`${CLOUD_DOMAIN}`)"
      - "traefik.http.routers.nextcloud.middlewares=headers,redirectregex,https-redirect,"
      - "traefik.http.routers.nextcloud-secure.entrypoints=https"
      - "traefik.http.routers.nextcloud-secure.rule=Host(`${CLOUD_DOMAIN}`)"
      - "traefik.http.routers.nextcloud-secure.tls=true"
      - "traefik.http.routers.nextcloud-secure.tls.certresolver=http"
      - "traefik.http.routers.nextcloud-secure.service=nextcloud"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"

      - "traefik.http.middlewares.https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.headers.headers.customFrameOptionsValue=SAMEORIGIN"
      - "traefik.http.middlewares.headers.headers.framedeny=true"
      - "traefik.http.middlewares.headers.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.headers.headers.stsPreload=true"
      - "traefik.http.middlewares.headers.headers.stsSeconds=15552001"
      - "traefik.http.middlewares.redirectregex.redirectregex.regex=/.well-known/(card|cal)dav"
      - "traefik.http.middlewares.redirectregex.redirectregex.replacement=/remote.php/dav/"


networks:
  proxy:
    external: true
